/* Media Queries */
@media only screen and (max-width: 1000px) {

  /* About Section */
  .abt_if {
    display: block;
  }

  .if_pic {
    margin: 50px auto;
    text-align: center;
}

/* Work */
.project_bx {
  display: block;
}
.project_img {
  max-width: 100%;
  margin: 40px auto 0;
}

}

  @media only screen and (max-width: 800px) {

    
  }
@media only screen and (max-width: 768px){
  main {
    padding: 0 60px;
  }

/* Sidebar */
.sidebar-socials {
  display: none;
}


/* Experience */
.sc_heading::after { width: 100%;}
}
@media only screen and (max-width: 600px) {

/* Others */
.col2 {
  column-count: 1;
}
    main {
      padding: 0 20px;
    }
  /* Header */
    .hdr-con {
      padding: 0 20px;
    }
    .sidebar-socials {
      display: none;
    }
    .box, .box2 {
      display: none;
    }


    .btn_con {
      flex-direction: column;
      gap: 0.8rem;
    }

/* About */
 .if_txt .skilled-list {
    margin: 0;
  }



/* Experience */



  }