/* Media Queries */
@media only screen and (max-width: 1000px) {
    #toggle_menu.bx-x span {
      transform: rotate(45deg);
    }
    #toggle_menu.bx-x  span::before {
      top: 0;
      transform: rotate(0deg);
    }
    #toggle_menu.bx-x  span::after {
      top: 0;
      transform: rotate(90deg);
    }
    /* #toggle_menu ~ nav ul {
      right: 0 !important;
    } */
  
  
  
    .menu__btn {
      position: fixed;
      top: 3em;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 46;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: var(--mainColor);
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
  
  
    .hamburger-menu nav ul {
      position: fixed;
      right: -175%;
      top: 0;
      padding: 80px 0;
      width: 20em;
      background: #28282B;
      height: 100%;
      transition: 0.4s;
      flex-direction: column;
      gap: 2em;
      
  }
  
  .hamburger-menu nav ul li {    
      text-align: center;   
       padding: 15px 0;   
  }
  
  .hamburger-menu nav ul li:hover {    
      background: var(--mainColor);
      }
  
  .hamburger-menu nav ul li a:after {
      display: none;
  }
  
  
  .hamburger-menu nav ul.open {
    right: 0 !important;
    z-index: 45;
  }
  
  .toggle-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.7s ease-in-out;
    z-index: 2
    ;
  }
        
  }

  @media (max-width: 800px) {
    .wrapper {
      padding: 0 60;
    }
    
  }

  @media (max-width: 600px) {
    .wrapper {
      padding: 0 20px;
    }
    .hdr-con {
      padding: 0 20px;
    }
    .sidebar-socials {
      display: none;
    }
    .wave {
      margin-left: -60em;
      margin-top: -15em;
    }


    .btn-con {
      flex-direction: column;
      gap: 0.8rem;
    }
  }