@media only screen and (max-width: 1000px) {

  .abt_if {
    display: block;
  }

  .if_pic {
    margin: 50px auto;
    text-align: center;
}

.project_bx {
  display: block;
}
.project_img {
  max-width: 100%;
  margin: 40px auto 0;
}

}

@media only screen and (max-width: 768px){
  main {
    padding: 0 60px;
  }  


.sidebar-socials {
  position: relative;
  width: 100%;
  margin-top: 40px;
  left: unset;
  bottom: unset;
  right: unset;

    ul {
      flex-direction: row;
      justify-content: center;
      gap: 4em;

      &::after {
        display: none;
      }
    }

    
}



.sc_heading::after { 
  width: 100%;
}

 
}
@media only screen and (max-width: 600px) {


.col2 {
  column-count: 1;
}
    main {
      padding: 0 20px;
    }

    .hdr-con {
      padding: 0 20px;
    }
    .box, .box2 {
      display: none;
    }


    .btn_con {
      flex-direction: column;
      gap: 0.8rem;
    }


 .if_txt .skilled-list {
    margin: 0;
  }

  }

  @media only screen and (max-width: 400px) {
    .if_txt .skilled-list li{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 0;
  }
}